* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #a9a9a9;
  min-width: 320px;
}

.container {
  display: flex;
  flex-direction: column;
}

.data {
  align-self: center;
  background: #f9f9f9;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 200px;
  padding: 100px 0 20px 0;
  width: 95%;
}

@media all and (min-width: 640px) {
  .data {
    align-self: stretch;
    margin: 20px 20px 0 20px;
    max-width: 400px;
    padding: 20px;
  }
}

.data__container {
  color: #333;
  display: flex;
  flex-basis: 100%;
  font-family: "Coda", cursive;
  font-size: 1.5rem;
  justify-content: space-evenly;
  margin: 10px 0px;
  text-align: center;
}

@media all and (min-width: 640px) {
  .data__container {
    color: #333;
    flex-direction: column;
    flex-basis: 50%;
    font-size: 1.5rem;
    margin: 15px 0px;
    text-align: center;
  }
}

.data__key {
  font-weight: lighter;
}

.data__value {
  font-weight: bold;
}

.header {
  align-items: center;
  background: #333;
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 5px;
  width: 20px;
}

.header__title {
  color: #f9f9f9;
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  margin: 5px;
}

.info {
  align-items: center;
  align-self: center;
  background: #f9f9f9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 95%;
}

.info__name {
  color: #555;
  font-family: "Fredoka One", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 5px;
  text-align: center;
}

@media all and (min-width: 640px) {
  .info__name {
    font-size: 1.5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 640px) {
  .main {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.others {
  align-items: center;
  background: #f9f9f9;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  padding: 10px;
  width: 95%;
}

@media all and (min-width: 640px) {
  .others {
    border-radius: 0;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}

.others__title {
  color: #333;
  font-family: "Fredoka One", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0;
}

.others__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media all and (min-width: 640px) {
  .others__container {
    align-items: center;
    flex-wrap: nowrap;
    height: 130px;
    justify-content: space-between;
  }
}

.others__container img {
  background: #cfcfcf;
  border-radius: 100%;
  margin: 5px;
  transition: 0.2s;
  width: 100px;
}

.others__container img:hover {
  box-shadow: 0px 3px 5px;
  cursor: pointer;
  transform: translateY(-5%);
}

@keyframes movement {
  0% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(3%);
  }
}

.pokemon {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 140px;
  width: 300px;
  animation: movement ease-in-out 2s infinite;
}

@media all and (min-width: 640px) {
  .pokemon {
    position: relative;
    top: 0;
    width: 300px;
  }
}
